include setup.py
include README.md
exclude venv


global-exclude __pycache__
global-exclude .coverage
global-exclude  *.py[co]
global-exclude  *.db
global-exclude  .git*
global-exclude  .idea*

recursive-include learnhtml *
recursive-include tests *


include learnhtml/cli/prepare_data.sh
recursive-include learnhtml/data *